.Home-section {
  .homepage .personalLogo {
    width: 30%;
    height: 30%;
    margin-left: 35%;
  }

  .todo-container {
    border: 3px solid black;
    margin-bottom: 20px;
    margin-left: 40%;
    padding: 50px;
    display: inline-block;
    position: relative;
    align-items: center;
    font-size: 25px;
    background-color: #fffacd;

    &:hover {
      border: 3px solid black;
      background: #fff281;
      color: #ffffff;
    }

    &:before {
      position: absolute;
    }
  }

  .go-btn {
    background: #818dff;
    color: #ffffff;
    border: 2px solid #818dff;
    width: 100%;
    margin: auto;

    &:hover {
      background: #9aa4ff;
      border: 2px solid #9aa4ff;
      color: #000000;
    }
  }
}
