.Todo-section {
  height: 600px;
  min-height: 550px;

  .todo-item {
    border: 1px solid #000000;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 20px;
    display: inline-block;
    position: relative;

    &:hover {
      border: 1px solid red;
      background: pink;
      color: #fff;
    }

    &:before {
      content: attr(todos-id);
      position: absolute;
    }
  }
}
