.Users-section {
  height: 600px;
  min-height: 550px;

  .users-item {
    border: 1px solid $primary;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 20px;
    display: inline-block;
    position: relative;

    &:hover {
      border: 1px solid $primary-dark;
      background: $jade;
      color: black;
    }

    &:before {
      content: attr(users-id);
      position: absolute;
    }
  }
}
